In [8]:
# import plotly.plotly as py
# py.sign_in('username', 'api_key')

import plotly.tools as tls
import plotly.plotly as py
from plotly.graph_objs import *
import numpy as np

tls.set_credentials_file(username='koalaboy808', api_key='yV2m2gtmwdkg6CZMr75P')

In [18]:
df_water = pd.read_csv("weighted_df_1x1.csv")
df_water = df_water.drop('Unnamed: 0', 1)
df_water = df_water.replace(r'-1', np.nan, regex=True)
df_water.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,600.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
3,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
4,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [99]:
import pandas as pd
df = pd.read_csv("grace_masked_2015.csv", header=None)
df = df.replace(np.nan, 0, regex=True)
# df = df.drop('Unnamed: 0', 1)
# df = df.replace(r'-1', np.nan, regex=True)
# df = df.where(df == -1, nan)
# df = df[2:]

# raw_weighted(1,:)=[];
# raw_weighted(:,1)=[];
# raw_weighted(raw_weighted == -1) = nan;

In [100]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.0,0.0,0.0000,-3.8000,0.0000,-3.3105,-3.0683,-2.9062,0.0000,0.0000,...,0.0,0.0,0.0000,0.0000,0.000,0.0000,0.0000,0.0000,0.000,0.0
1,0.0,0.0,0.0000,-5.2850,-4.9398,-4.6055,-4.3163,-4.1037,-3.9932,-4.0082,...,0.0,0.0,0.0000,0.0000,0.000,0.0000,11.6400,12.2260,0.000,0.0
2,0.0,0.0,0.0000,-5.9780,-5.5957,-5.2873,-5.0653,-4.9243,-4.8528,-4.8483,...,0.0,0.0,0.0000,0.0000,0.000,0.0000,10.8880,11.5560,12.131,0.0
3,0.0,0.0,-6.3425,-5.9295,-5.6158,-5.4202,-5.3322,-5.3195,-5.3462,-5.3900,...,0.0,0.0,0.0000,0.0000,0.000,0.0000,9.1102,9.8113,10.410,0.0
4,0.0,0.0,-5.8472,-5.5902,-5.4363,-5.3867,-5.4180,-5.4918,-5.5695,-5.6283,...,0.0,0.0,3.1638,4.0323,4.827,5.5687,6.2583,6.8788,0.000,0.0

In [101]:
numpyMatrix = df.as_matrix()
numpyMatrix.size

1311

In [102]:
west = -124;
east = -66.963;
north = 48.98;
south = 25.53;

xx = np.linspace(north,south,57)
yy = np.linspace(west,east, 23)
x, y = np.meshgrid(xx, yy)
z = numpyMatrix

In [103]:
x[1].size

57

In [104]:
west = -124;
east = -66.963;
north = 48.98;
south = 25.53;

lin_lon = np.linspace(west,east, 23)
lin_lat = np.linspace(north,south,57)
x_lin_lon, y_lin_lat = np.meshgrid(lin_lon, lin_lat)


print("numpyMatrix: " + str(numpyMatrix.size))
print("lin_lon: " + str(lin_lon.size))
print("lin_lat: " + str(lin_lat.size))
print("numpyMatrix: " + str(numpyMatrix.size))
print("x_lin_lon: " + str(x_lin_lon.size))
print("y_lin_lat: " + str(y_lin_lat.size))
print("numpyMatrix[1]: " + str(numpyMatrix[1].size))
print("x_lin_lon[1]: " + str(x_lin_lon[1].size))
print("y_lin_lat[1]: " + str(y_lin_lat[1].size))
y_lin_lat[1].size

# lin_lon = linspace(west,east, 23);
# lin_lat = linspace(north,south,57);

numpyMatrix: 1311
lin_lon: 23
lin_lat: 57
numpyMatrix: 1311
x_lin_lon: 1311
y_lin_lat: 1311
numpyMatrix[1]: 57
x_lin_lon[1]: 23
y_lin_lat[1]: 23

23

In [166]:
colorscale=[[0.0, 'rgb(15,70,94)'],
#            [0.2, 'rgb(28,76,96)'],
#            [0.2, 'rgb(16,125,121)'],
#            [0.4, 'rgb(92,166,133)'],
#            [0.6, 'rgb(182,202,175)'],
#            [0.5, 'rgb(253,245,243)'],
#            [0.6, 'rgb(230,183,162)'],
#            [0.7, 'rgb(211,118,105)'],
           [0.67, 'rgb(242,237,237)'],
           [1.0, 'rgb(209,48,78)']]
#            [1.0, 'rgb(51,13,53)']]

In [167]:
textz=[['x: '+'{:0.5f}'.format(x[i][j])+'<br>y: '+'{:0.5f}'.format(y[i][j])+
        '<br>z: '+'{:0.5f}'.format(z[i][j]) for j in range(z.shape[1])] for i in range(z.shape[0])]

trace1= Surface(z=z,
                x=x,
                y=y, 
                colorscale=colorscale,
                text=textz,
                hoverinfo='text',
                )

In [168]:
axis = dict(
showbackground=True, 
# backgroundcolor="rgb(230, 230,230)", 
showgrid=False,    
zeroline=False,  
showline=False)

ztickvals=range(-6,4)
layout = Layout(title="Projections of a surface onto coordinate planes" , 
                autosize=False,
                width=700,
                height=600,
                scene=Scene(xaxis = dict(XAxis(axis, range=[south, north]),
                                zeroline=False,
                                showline=False,
                                ticks='',
                                showticklabels=False),
                            yaxis = dict(YAxis(axis, range=[west, east]),
                                zeroline=False,
                                showline=False,
                                ticks='',
                                showticklabels=False),
                            zaxis=ZAxis(axis ,range=[-25,25]),
                            aspectratio=dict(x=1,
                                             y=1,
                                             z=0.95)
                           )
                )

# west = -124;
# east = -66.963;
# north = 48.98;
# south = 25.53;

In [169]:
z_offset=(np.min(z)-2)*np.ones(z.shape)#
x_offset=np.min(xx)*np.ones(z.shape)
y_offset=np.min(yy)*np.ones(z.shape)

In [170]:
proj_z=lambda x, y, z: z#projection in the z-direction
colorsurfz=proj_z(x,y,z)
proj_x=lambda x, y, z: x
colorsurfx=proj_z(x,y,z)
proj_y=lambda x, y, z: y
colorsurfy=proj_z(x,y,z)

textx=[['y: '+'{:0.5f}'.format(y[i][j])+'<br>z: '+'{:0.5f}'.format(z[i][j])+
        '<br>x: '+'{:0.5f}'.format(x[i][j]) for j in range(z.shape[1])]  for i in range(z.shape[0])]
texty=[['x: '+'{:0.5f}'.format(x[i][j])+'<br>z: '+'{:0.5f}'.format(z[i][j]) +
        '<br>y: '+'{:0.5f}'.format(y[i][j]) for j in range(z.shape[1])] for i in range(z.shape[0])]  

tracex =Surface(z=z,
                x=x_offset,
                y=y,
                colorscale=colorscale,
                showlegend=False,
                showscale=False,
                surfacecolor=colorsurfx,
                text=textx,
                hoverinfo='text'
               )
tracey =Surface(z=z,
                x=x,
                y=y_offset,
                colorscale=colorscale,
                showlegend=False,
                showscale=False,
                surfacecolor=colorsurfy,
                text=texty,
                hoverinfo='text'
               )
tracez =Surface(z=z_offset,
                x=x,
                y=y,
                colorscale=colorscale,
                showlegend=False,
                showscale=False,
                surfacecolor=colorsurfx,
                text=textz,
                hoverinfo='text'
               )

data=Data([trace1, tracex, tracey, tracez])
fig = Figure(data=data, layout=layout)
py.iplot(fig)

In [83]:
z_offset[2]

array([-27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062, -27.062, -27.062, -27.062, -27.062, -27.062, -27.062,
       -27.062])